<form action="/users/admin" method="POST" class="form-agregar-ministerio">
<div class="form login">
    <input type="text" name="nombre" placeholder="Nombre">
    <input type="password" name="password" placeholder="Contraseña">
    <input type="submit" value="Enviar"> 
</div>
</form>

