<form action="/users/admin" method="POST">
    <input type="text" name="nombre" placeholder="Nombre">
    <input type="password" name="password" placeholder="Contraseña">
    <input type="submit" value="Enviar"> 
</form>