@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Rancho&display=swap");
.pie-pagina {
  width: 100%;
  background: #052a38;
}

.pie-pagina .grupo-2 {
  background: #031922;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0;
}

.pie-pagina .grupo-1 .box figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 250px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.pie-pagina .grupo-1 .box h2 {
  margin-bottom: 25px;
  font-size: 20px;
  color: #fff;
}

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .box .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: rgba(3, 25, 34, 0.6);
  text-align: center;
  -webkit-transition: all .3 ease;
  transition: all .3 ease;
}

.pie-pagina .grupo-1 .box .red-social a:hover {
  background-color: #031922;
}

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0;
  }
  .pie-pagina .grupo-1 .box figure img {
    width: 250px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #094b65;
  min-height: 100vh;
}

#header {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  padding: 13px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 900;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

#header.sticky {
  padding: 8px 100px;
}

#header .logo img {
  width: 250px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: invert(12%) sepia(99%) saturate(415%) hue-rotate(150deg) brightness(91%) contrast(100%);
          filter: invert(12%) sepia(99%) saturate(415%) hue-rotate(150deg) brightness(91%) contrast(100%);
}

#header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  transition: .5s;
}

#header .navigation a {
  text-decoration: none;
  padding: 6px 15px;
  border-radius: 20px;
  color: #094b65;
  -webkit-transition: .2s background ease;
  transition: .2s background ease;
  margin-left: 20px;
  text-align: center;
}

#header .navigation a:hover, #header .navigation a.activo {
  background-color: #094b65;
  color: #fff;
}

#header .navigation a li {
  list-style: none;
}

.nav-responsive {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  background: rgba(9, 75, 101, 0.8);
  width: 50%;
  z-index: 1100;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: .5s transform;
  transition: .5s transform;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.nav-responsive.activo {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.nav-responsive ul {
  width: 100%;
}

.nav-responsive ul a {
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 500;
  color: #fff;
}

.nav-responsive ul a li {
  list-style: none;
  padding: 30px 0;
  width: 100%;
  cursor: pointer;
  -webkit-transition: .2s ease background;
  transition: .2s ease background;
}

.nav-responsive ul a li:hover {
  background: #094b65;
}

.icono {
  font-size: 1.7em;
  color: #fff;
}

#salir {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}

#bars {
  display: none;
  font-size: 1.7em;
  color: rgba(9, 75, 101, 0.8);
  -webkit-transition: .2s color ease;
  transition: .2s color ease;
  z-index: 1200;
  cursor: pointer;
}

#bars:hover {
  color: #094b65;
}

section {
  background-color: #fff;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section #text {
  position: absolute;
  color: #094b65;
  font-size: 20vh;
  text-align: center;
  line-height: 0.55em;
  font-family: 'Rancho',cursive;
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
  z-index: 100;
}

section #text span {
  font-size: 0.20em;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: 'Poppins',sans-serif;
}

section img {
  position: absolute;
  top: 20vh;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

#bird2 {
  -webkit-transform: translateX(-8%) translateY(-12%);
          transform: translateX(-8%) translateY(-12%);
}

#bird1 {
  -webkit-transform: translateX(5%) translateY(-10%);
          transform: translateX(5%) translateY(-10%);
}

.agua {
  overflow: hidden;
  width: 100%;
  height: 20vh;
  position: relative;
}

.agua:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: -webkit-gradient(linear, left bottom, left top, from(#094b65), to(transparent));
  background: linear-gradient(to top, #094b65, transparent);
  z-index: 800;
}

.agua #water {
  position: absolute;
  bottom: -14vh;
}

.btn-comun {
  position: absolute;
  bottom: 20vh;
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  background: #fff;
  color: #094b65;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 40px;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: .2s letter-spacing ease;
  transition: .2s letter-spacing ease;
}

.btn-comun:hover {
  letter-spacing: 4px;
}

.info {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.info a {
  text-decoration: none;
  display: inline-block;
  padding: 4px 15px;
  background: #fff;
  color: #094b65;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 40px;
  pointer-events: none;
}

.sec {
  width: 100%;
  position: relative;
  background: #094b65;
  padding: 40px 20px;
}

.sec h2 {
  text-transform: uppercase;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  text-align: center;
  font-size: 2.5em;
  color: #fff;
  margin: 15px 0;
  text-shadow: 4px 6px rgba(0, 0, 0, 0.5);
}

.container {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .card {
  position: relative;
  width: 50%;
  min-height: 400px;
  max-width: 700px;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .card .dailyVerses {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 20px;
  color: #fff;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 2em;
  z-index: 1;
  font-family: 'Rancho',cursive;
}

.container .card .dailyVerses a {
  font-family: 'Poppins',sans-serif;
  font-size: .55em;
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.carousel {
  width: 100%;
}

.carousel .glider-contain {
  width: 100%;
  margin: auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.carousel .glider-contain .dots .glider-dot,
.carousel .glider-contain .dots-info .glider-dot {
  height: 4px;
  border-radius: none;
  width: 30px;
  background: rgba(6, 48, 65, 0.6);
}

.carousel .glider-contain .dots .glider-dot:hover,
.carousel .glider-contain .dots-info .glider-dot:hover {
  background: #052a38;
}

.carousel .glider-contain .dots .glider-dot.active,
.carousel .glider-contain .dots-info .glider-dot.active {
  background: #052a38;
}

.carousel .glider-contain .glider-prev, .carousel .glider-contain .glider-next {
  color: #fff;
  top: calc(50% - 40px);
  cursor: pointer;
}

.carousel .glider-contain .glider-prev {
  left: 0;
}

.carousel .glider-contain .glider-next {
  right: 0;
}

.info-carousel {
  width: 100%;
}

.info-carousel p {
  color: #fff;
  font-size: 1em;
  line-height: 1.5;
  margin: 20px 0;
}

.info-carousel .position-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.info-carousel .position-info #cerrar-info {
  background-color: #052a38;
  padding: 10px;
  border-radius: 50%;
  font-size: 1.7em;
  color: #fff;
  -webkit-transition: .2s color ease;
  transition: .2s color ease;
  cursor: pointer;
}

.info-carousel .position-info #cerrar-info:hover {
  color: rgba(255, 255, 255, 0.8);
}

.motivo-oracion {
  z-index: 1300;
  width: 100%;
  height: 100vh;
  background: #094b65;
  color: #fff;
  position: absolute;
  padding: 40px 20px;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: .5s transform ease;
  transition: .5s transform ease;
}

.motivo-oracion.activo {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.motivo-oracion .formulario-oracion {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.motivo-oracion .formulario-oracion h3 {
  font-size: 1.8em;
  text-shadow: 4px 6px rgba(0, 0, 0, 0.5);
  margin: 30px 0;
  text-transform: uppercase;
}

.motivo-oracion .formulario-oracion input, .motivo-oracion .formulario-oracion textarea {
  width: 100%;
  max-width: 600px;
  padding: 20px 40px;
  background-color: #052a38;
  border: none;
  outline: none;
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  font-size: 1.3em;
  color: #fff;
}

.motivo-oracion .formulario-oracion input:focus, .motivo-oracion .formulario-oracion textarea:focus {
  border-bottom: 3px solid #fff;
}

.motivo-oracion .formulario-oracion input {
  border-radius: 5px 5px 0 0;
}

.motivo-oracion .formulario-oracion button {
  display: block;
  padding: 8px 30px;
  background: #fff;
  color: #094b65;
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 40px;
  -webkit-transition: .2s letter-spacing ease;
  transition: .2s letter-spacing ease;
  border: none;
  outline: none;
  margin: 20px auto;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Poppins',sans-serif;
}

.motivo-oracion .formulario-oracion button:hover {
  letter-spacing: 4px;
}

.btn-oracion {
  position: fixed;
  z-index: 10000;
  bottom: 20px;
  right: 10px;
}

.btn-oracion.logout {
  bottom: 90px;
}

.btn-oracion button {
  display: inline-block;
  cursor: pointer;
  font-size: 1.1em;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(9, 75, 101, 0.8);
  color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: -1px 1px 3px 2px rgba(0, 0, 0, 0.5);
          box-shadow: -1px 1px 3px 2px rgba(0, 0, 0, 0.5);
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-oracion button:hover {
  background: #094b65;
  color: #fff;
}

@media (max-width: 1200px) {
  #bars {
    display: block;
  }
  #header .navigation {
    display: none;
  }
}

@media (max-width: 800px) {
  #header {
    padding: 13px 50px;
  }
  #header .logo {
    font-size: 1.5em;
  }
  #header.sticky {
    padding: 8px 50px;
  }
  .sec h2 {
    font-size: 1.8em;
  }
  .container .card {
    width: 80%;
  }
  section #text {
    font-size: 15vh;
  }
}

@media (min-width: 800px) {
  section #bird2 {
    -webkit-transform: translateX(-16%) translateY(-16%);
            transform: translateX(-16%) translateY(-16%);
  }
  section #bird1 {
    -webkit-transform: translateX(10%) translateY(-14%);
            transform: translateX(10%) translateY(-14%);
  }
}

@media (max-width: 600px) {
  .nav-responsive {
    width: 100%;
  }
  #btn {
    font-size: 1em;
    padding: 6px 20px;
  }
  .container .card {
    width: 90%;
  }
}

@media (max-width: 480px) {
  #header {
    padding: 13px 10px;
  }
  #header.sticky {
    padding: 8px 10px;
  }
  #btn {
    bottom: 23vh;
    padding: 4px 15px;
    font-size: 1em;
  }
  section #text {
    font-size: 10vh;
  }
  .card {
    width: 300px;
  }
  .card .dailyVerses {
    font-size: 1em;
  }
  .carousel .glaider-contain {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */