@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Rancho&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  background: #fff;
  min-height: 100vh;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 900;
}

#header .logo {
  color: #094b65;
  font-weight: 700;
  font-size: 1.8em;
  text-decoration: none;
}

#header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header ul li {
  list-style: none;
  margin-left: 20px;
}

#header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  border-radius: 20px;
  color: #094b65;
  -webkit-transition: .2s background ease;
  transition: .2s background ease;
}

#header ul li a:hover, #header ul li a.activo {
  background-color: #094b65;
  color: #fff;
}

.nav-responsive {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  background: rgba(9, 75, 101, 0.8);
  width: 50%;
  z-index: 1100;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: .5s transform;
  transition: .5s transform;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.nav-responsive.activo {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.nav-responsive ul {
  width: 100%;
}

.nav-responsive ul li {
  list-style: none;
  padding: 30px 0;
  width: 100%;
  cursor: pointer;
  -webkit-transition: .2s ease background;
  transition: .2s ease background;
}

.nav-responsive ul li:hover {
  background: #094b65;
}

.nav-responsive ul li a {
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 500;
  color: #fff;
}

.icono {
  font-size: 1.7em;
  color: #fff;
}

#salir {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}

#bars {
  display: none;
  font-size: 1.7em;
  color: rgba(9, 75, 101, 0.8);
  -webkit-transition: .2s color ease;
  transition: .2s color ease;
  z-index: 200000;
  cursor: pointer;
}

#bars:hover {
  color: #094b65;
}

section {
  position: relative;
  top: 0h;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section #text {
  position: absolute;
  color: #094b65;
  font-size: 20vh;
  text-align: center;
  line-height: 0.55em;
  font-family: 'Rancho',cursive;
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
  z-index: 100;
}

section #text span {
  font-size: 0.20em;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: 'Poppins',sans-serif;
}

section img {
  position: absolute;
  top: 20vh;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

section:before {
  content: '';
  position: absolute;
  bottom: -20vh;
  left: 0;
  width: 100%;
  height: 100px;
  background: -webkit-gradient(linear, left bottom, left top, from(#094b65), to(transparent));
  background: linear-gradient(to top, #094b65, transparent);
  z-index: 100000;
}

#bird2 {
  -webkit-transform: translateX(-90px) translateY(-90px);
          transform: translateX(-90px) translateY(-90px);
}

#bird1 {
  -webkit-transform: translateX(60px) translateY(-60px);
          transform: translateX(60px) translateY(-60px);
}

#btn {
  position: absolute;
  bottom: 20vh;
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  background: #fff;
  color: #094b65;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 40px;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: .2s letter-spacing ease;
  transition: .2s letter-spacing ease;
}

#btn:hover {
  letter-spacing: 4px;
}

.sec {
  top: 20vh;
  width: 100%;
  position: relative;
  background: #094b65;
  padding: 30px;
}

.sec h2 {
  text-align: center;
  font-size: 2.5em;
  color: #fff;
  margin: 15px 0;
  text-shadow: 4px 6px rgba(0, 0, 0, 0.5);
}

.container {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .card {
  position: relative;
  width: 50%;
  min-height: 400px;
  max-width: 700px;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .card .dailyVerses {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 20px;
  color: #fff;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 2em;
  z-index: 1;
  font-family: 'Rancho',cursive;
}

.container .card .dailyVerses a {
  font-family: 'Poppins',sans-serif;
  font-size: .55em;
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.carousel {
  width: 100%;
}

.carousel .glider-contain {
  width: 90%;
  margin: auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.carousel .glider-contain .dots .glider-dot {
  height: 4px;
  border-radius: none;
  width: 30px;
  background: rgba(6, 48, 65, 0.6);
}

.carousel .glider-contain .dots .glider-dot:hover {
  background: #063041;
}

.carousel .glider-contain .dots .glider-dot.active {
  background: #063041;
}

.carousel .glider-contain .btns button {
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.5em;
  -webkit-transition: .2s ease background;
  transition: .2s ease background;
  cursor: pointer;
  z-index: 2000;
}

@media (max-width: 1200px) {
  #header ul li {
    display: none;
  }
  #bars {
    display: block;
  }
}

@media (max-width: 768px) {
  #header {
    padding: 30px 50px;
  }
  #header .logo {
    font-size: 1.5em;
  }
  .sec h2 {
    font-size: 1.8em;
  }
  .container .card {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .nav-responsive {
    width: 100%;
  }
  #btn {
    font-size: 1em;
    padding: 6px 20px;
  }
  .container .card {
    width: 90%;
  }
  #bird2 {
    -webkit-transform: translateX(-25px) translateY(-25px);
            transform: translateX(-25px) translateY(-25px);
  }
  #bird1 {
    -webkit-transform: translateX(10px) translateY(-10px);
            transform: translateX(10px) translateY(-10px);
  }
}

@media (max-width: 450px) {
  #text {
    font-size: 30vh;
  }
  #header {
    padding: 30px 10px;
  }
  #btn {
    bottom: 23vh;
    padding: 4px 15px;
    font-size: 1em;
  }
  .card {
    width: 300px;
  }
  .card .dailyVerses {
    font-size: 1em;
  }
  .carousel .glaider-contain {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */