@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Rancho&display=swap');

$rojo : #e63946;
$first: rgb(9, 75, 101);

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
    background: #fff;
    min-height: 100vh;
}

// navbar

#header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 900;
    .logo{
        color: $first;
        font-weight: 700;
        font-size: 1.8em;
        text-decoration: none;
    }
    ul{
        @include center();
        li{
            list-style: none;
            margin-left: 20px;
            a{
                text-decoration: none;
                padding: 6px 15px;
                border-radius: 20px;
                color: $first;
                transition: .2s background ease;
                &:hover,&.activo{
                    background-color: $first;
                    color: #fff;
                }
            }
        }
    }
}

//header responsive
.nav-responsive{
    position: absolute;
    overflow:hidden;
    top: 0;
    right: 0;
    background: rgba($first,.8);
    width: 50%;
    z-index:1100;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .5s transform;
    transform: translateX(100%);
    &.activo{
        transform: translateX(0%);
    }
    ul{
        width: 100%;
        li{
            list-style: none;
            padding: 30px 0;
            width: 100%;
            cursor:pointer;
            transition: .2s ease background;
            &:hover{
                background: $first;
            }
            a{ 
                text-decoration: none;
                font-size: 1.3em;
                font-weight: 500;
                color: #fff;
            }
        }
    }
}
.icono{
    font-size: 1.7em;
    color: #fff;   

}
#salir{
    position: absolute;
    top:40px;
    right: 40px; 
    cursor:pointer;
}
#bars{
    display: none; 
    font-size: 1.7em;
    color: rgba(9,75,101,.8);   
    transition: .2s color ease;
    z-index: 200000;
    cursor: pointer;
    &:hover{
        color: $first; 
    } 
} 

 
// section

section{
    position: relative; 
    top: 0h; 
    width: 100%;
    height: 100vh;
    @include center(); 
    #text{
        position: absolute;
        color: $first;
        font-size: 1.8em;
        text-align: center;
        line-height: 0.55em;
        font-family: 'Rancho',cursive;  
        transform: translateY(-75%); 
        z-index: 100;

        span{
            font-size: 0.20em;
            letter-spacing: 2px;
            font-weight: 400;
            font-family: 'Poppins',sans-serif;
        }
    }
    img{
        position: absolute;
        top: 20vh;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;

    }
    &:before{
        content: '';
        position: absolute;
        bottom: -20vh;
        left: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top, $first, transparent);
        z-index: 100000;  
    }
}

        #bird2{ 
            transform: translateX(-90px) translateY(-90px);    
        }
        #bird1{
            transform: translateX(60px) translateY(-60px); 
        }

#btn{
    position:absolute;
    bottom: 20vh; 
    text-decoration: none; 
    display: inline-block;
    padding: 8px 30px;
    background: #fff;
    color: $first;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translateY(100px);
    transition: .2s letter-spacing ease;
    &:hover{
        letter-spacing: 4px;
    }
}

.sec{
    top:20vh;
    width: 100%; 
    position: relative;  
    background: $first;
    padding: 30px;
    h2{
        text-align: center; 
        font-size: 2.5em;
        color: #fff; 
        margin: 15px 0;
        text-shadow: 4px 6px rgba(0,0,0,.5);

    }
}

    //card
    .container{
        position: relative;
        width: 100%;
        @include center();
        .card{
            position: relative; 
            width: 50%; 
            min-height: 400px;
            max-width: 700px; 
            // margin: 30px;
            box-shadow: 20px 20px 50px rgba(0,0,0,.5);
            border-radius: 15px;
            background: rgba(255,255,255,.1);
            overflow: hidden;
            border-top: 1px solid rgba(255,255,255,.5);
            border-left: 1px solid rgba(255,255,255,.5);
            backdrop-filter: blur(5px);
            display: flex;
            justify-content: center;
            flex-direction: column;
            .dailyVerses{
                padding: 20px;
                color: #fff;
                text-align: center;
                transition: 0.5s;
                font-size: 2em;
                z-index: 1;
                font-family: 'Rancho',cursive;
                a{
                    font-family: 'Poppins',sans-serif;
                    font-size: .55em;
                    display: block;
                    text-decoration: none;
                    color: rgba(255,255,255,.8); 
                } 
            }
        }
    }

    //carousel
        .carousel{
            width: 100%;
            .glider-contain{
                width: 90%;
                margin: auto;
                text-align: center;
                color: rgba(255,255,255,.8);
                .dots{
                    .glider-dot{
                        height: 4px;
                        border-radius: none; 
                        width: 30px;
                        background: rgba(6, 48, 65,.6); 
                        &:hover{ 
                             background:rgb(6, 48, 65);
                        }
                        &.active{
                            background:rgb(6, 48, 65);

                        }
                    }
                }
                .btns button{
                    border: none;
                    outline:none;
                    background: rgba(6, 48, 65,.6);
                    color: #fff;
                    height: 100px;
                    width: 40px;
                    font-size: 1.5em;
                    transition: .2s ease background;
                    cursor:pointer;
                    z-index:2000; 
                    &:hover{
                        background:rgb(6, 48, 65);
                        box-shadow: 2px 2px 10px rgba(0,0,0,.5);
        
                     }
                }
            }
        }


    //MEDIA

@media (max-width: 1200px) {
    #header ul li{
        display: none;
    }

    #bars{
        display: block;
    }

}
@media (max-width: 768px){
    #header{
        padding: 30px 50px;
        .logo{
            font-size: 1.5em; 
        }
    }
    .sec h2{
        font-size: 1.8em; 
    }
    .container .card{
        width: 80%; 
    }
} 
 
@media (max-width: 600px) {
    .nav-responsive{
        width: 100%;
    }
    #btn{
        font-size: 1em;
        padding: 6px 20px;
    }
        .container .card{
        width: 90%; 
    }  
   
}

@media (max-width: 450px){
    #header{
        padding: 30px 10px;
    }
    #btn{
        bottom: 30vh;
        padding: 4px 15px;
        font-size: 1em;
    }
    .card{
        width: 300px;
        .dailyVerses{
            font-size: 1em;
        }
    }
    .carousel .glaider-contain{
        width: 100%;
    }
}