@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Rancho&display=swap');

$rojo : #e63946;
$first: rgb(9, 75, 101);
$darkFirst:rgb(5, 42, 56);
    

@mixin center { 
    display: flex;
    justify-content: center;
    align-items: center;
}

@import '__Footer.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
    background-color: $first;
    min-height: 100vh;
}

// navbar
 
#header{  
    position: fixed; 
    background-color: #fff; 
    top: 0;
    left: 0;
    width: 100%;
    padding: 13px 100px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    z-index: 900;
    transition: .5s; 
    box-shadow: 0 5px 20px rgba(0,0,0,.05); 
    &.sticky{
        padding: 8px 100px;
        
    }
    .logo{
        img{
            width: 250px; 
            object-fit: contain; 
            filter: invert(12%) sepia(99%) saturate(415%) hue-rotate(150deg) brightness(91%) contrast(100%);
            // filter: invert(23%) sepia(13%) saturate(5215%) hue-rotate(163deg) brightness(90%) contrast(93%);
            // hsl(197, 83%, 12%); 
        } 
    }
    .navigation{ 
        @include center();
        transition: .5s;
        a{ 
            text-decoration: none;
            padding: 6px 15px;
            border-radius: 20px;
            color: $first;
            transition: .2s background ease;
            margin-left: 20px;
            text-align: center;
            &:hover,&.activo{
                background-color: $first;
                color: #fff;
            }
            li{
                list-style: none;
            }
        }

    }
}

//header responsive
.nav-responsive{
    position: absolute;
    overflow:hidden;
    top: 0;
    right: 0;
    background: rgba($first,.8);
    width: 50%;
    z-index:1100;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .5s transform;
    transform: translateX(100%);
    &.activo{
        transform: translateX(0%);
    }
    ul{
        width: 100%;
        a{ 
            text-decoration: none;
            font-size: 1.3em;
            font-weight: 500;
            color: #fff;
            li{
                list-style: none;
                padding: 30px 0;
                width: 100%;
                cursor:pointer;
                transition: .2s ease background;
                &:hover{
                    background: $first;
                }
            }
            
        }
    }
}
.icono{
    font-size: 1.7em;
    color: #fff;   

}
#salir{
    position: absolute;
    top:40px;
    right: 40px; 
    cursor:pointer;
}
#bars{
    display: none; 
    font-size: 1.7em;
    color: rgba(9,75,101,.8);   
    transition: .2s color ease;
    z-index: 1200;
    cursor: pointer;
    &:hover{
        color: $first; 
    } 
} 


 
// section

section{
    background-color: #fff;
    position: relative; 
    width: 100%;
    height: 100vh;
    overflow:hidden; 
    @include center();  
    #text{
        position: absolute;
        color: $first;
        font-size: 20vh;
        text-align: center;
        line-height: 0.55em;
        font-family: 'Rancho',cursive;  
        transform: translateY(-75%); 
        z-index: 100;

        span{
            font-size: 0.20em;
            letter-spacing: 2px;
            font-weight: 400;
            font-family: 'Poppins',sans-serif;
        }
    }
    img{
        position: absolute;
        top: 20vh;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;

    }
    // &:before{
    //     content: '';
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100px;
    //     background: linear-gradient(to top, $first, transparent);
    //     z-index: 100000;  
    // }
}

        #bird2{ 
            transform: translateX(-8%) translateY(-12%);    
        }
        #bird1{
            transform: translateX(5%) translateY(-10%); 
        }
        .agua{
        overflow: hidden;
        width: 100%;
        height: 20vh;
        position:relative;
        &:before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background: linear-gradient(to top, $first, transparent);
            z-index: 800;   
        }
            #water{
                position: absolute;
                bottom: -14vh; 
            } 
        }

#btn{
    position:absolute;
    bottom: 20vh; 
    text-decoration: none; 
    display: inline-block;
    padding: 8px 30px;
    background: #fff;
    color: $first;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translateY(100px);
    transition: .2s letter-spacing ease;
    &:hover{
        letter-spacing: 4px;
    }
}

.sec{
    width: 100%; 
    position: relative;  
    background: $first;
    padding: 40px 20px;
    // bottom:4px;
    // &.first{
    //     bottom:2px;
    // }
    h2{
        text-transform: uppercase;
        transition: .3s all ease; 
        text-align: center; 
        font-size: 2.5em;
        color: #fff; 
        margin: 15px 0;
        text-shadow: 4px 6px rgba(0,0,0,.5); 

    }
}

    //card
    .container{
        position: relative;
        width: 100%;
        @include center();
        .card{
            position: relative; 
            width: 50%; 
            min-height: 400px;
            max-width: 700px; 
            // margin: 30px;
            box-shadow: 20px 20px 50px rgba(0,0,0,.5);
            border-radius: 15px;
            background: rgba(255,255,255,.1);
            overflow: hidden;
            border-top: 1px solid rgba(255,255,255,.5);
            border-left: 1px solid rgba(255,255,255,.5);
            backdrop-filter: blur(5px);
            display: flex;
            justify-content: center;
            flex-direction: column;
            .dailyVerses{
                user-select: none;
                padding: 20px;
                color: #fff;
                text-align: center;
                transition: 0.5s;
                font-size: 2em;
                z-index: 1;
                font-family: 'Rancho',cursive;
                a{
                    font-family: 'Poppins',sans-serif;
                    font-size: .55em;
                    display: block;
                    text-decoration: none;
                    color: rgba(255,255,255,.8); 
                } 
            }
        }
    }

    //carousel
        .carousel{
            width: 100%;
            .glider-contain{
                width: 100%;
                margin: auto;
                text-align: center;
                color: rgba(255,255,255,.8);
                cursor:pointer;
                .dots,
                .dots-info{ 
                    .glider-dot{
                        height: 4px;
                        border-radius: none; 
                        width: 30px;
                        background: rgba(6, 48, 65,.6); 
                        &:hover{ 
                             background:$darkFirst;
                        }
                        &.active{
                            background:$darkFirst;

                        }
                    }
                }
                .glider-prev,.glider-next{
                    // background: rgba(6, 48, 65,.6); 
                    color: #fff;
                    top: calc(50% - 40px);
                    cursor:pointer;
                    // &:hover{
                    //     background:rgb(6, 48, 65);
                    //     box-shadow: 2px 2px 10px rgba(0,0,0,.5);
        
                    //  }
                }
                .glider-prev{
                    left: 0;
                }
                .glider-next{
                    right: 0;
                }
            }
        }

        .info-carousel{
            width: 100%;
            p{
                color: #fff;
                font-size: 1em; 
                line-height: 1.5;
                margin: 20px 0;
            }
            .position-info{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: center;

                #cerrar-info{
                    background-color: $darkFirst;
                    padding: 10px;
                    border-radius: 50%;
                    font-size: 1.7em;
                    color: #fff; 
                    transition: .2s color ease;
                    cursor: pointer;
                    &:hover{
                        color: rgba(255,255,255,.8);
                    }
                }
            }
        }

        // motivo de oracion
        .motivo-oracion{
            z-index:1300;
            width: 100%;
            height: 100vh;
            background: $first;
            color: #fff;
            position: absolute; 
            padding: 40px 20px; 
            top: 0;
            left:0;
            transform: translateY(-100%);
            transition: .5s transform ease;
            &.activo{
                transform: translateY(0);     
            }
            .formulario-oracion{
                width: 100%;
                height: 100%;
                 @include center();
                 text-align: center;
                 flex-direction: column;
                h3{
                    font-size: 1.8em;
                    text-shadow: 4px 6px rgba(0,0,0,.5);
                    margin: 30px 0;
                    text-transform: uppercase;
                }
                input,textarea{
                    width: 100%;
                    max-width: 600px;
                    padding: 20px 40px;
                    background-color: $darkFirst;
                    border: none; 
                    outline: none;
                    border-bottom: 3px solid rgba(255,255,255,.5);
                    font-size: 1.3em;
                    color: #fff;
                    &:focus{
                        border-bottom: 3px solid #fff;
                    }
                }
                
                input{
                    border-radius: 5px 5px 0 0;
                }
                button{
                    display: block;
                    padding: 8px 30px;
                    background: #fff;
                    color: $first;
                    font-size: 1.3em;
                    font-weight: 600;
                    letter-spacing: 2px; 
                    border-radius: 40px;
                    transition: .2s letter-spacing ease;
                    border: none;
                    outline: none;
                    margin: 20px auto;
                    cursor: pointer;
                    text-transform: uppercase;
                    font-family: 'Poppins',sans-serif;
                    &:hover{
                        letter-spacing: 4px;
                    }
                }

            }
        }

.btn-oracion{
            position: fixed;
            z-index: 10000;
            bottom: 20px;
            right: 10px;
            &.logout{
                bottom: 90px; 
            }
            button{
                display: inline-block;
                cursor:pointer;
                font-size: 1.1em;
                border: none;
                outline: none;
                width: 50px;
                height: 50px;
                border-radius: 50%; 
                background: rgba(9, 75, 101,.8);
                color: rgba(255,255,255,.8);   
                box-shadow: -1px 1px 3px 2px rgba(0,0,0,.5); 
                transition: .3s;
                &:hover{
                    background: $first;
                    color: #fff;          
                 }
            }
        }


    //MEDIA

@media (max-width: 1200px) {
    #bars{
        display: block;
    }
    #header .navigation{
        display:none;
    }
 
}
@media (max-width: 800px){
    #header{
        padding: 13px 50px;
        .logo{
            font-size: 1.5em; 
        }
        &.sticky{
            padding: 8px 50px;
        }
    }
    .sec h2{
        font-size: 1.8em; 
    }
    .container .card{
        width: 80%; 
    }
    section #text{
        font-size: 15vh;
    }

} 
@media (min-width: 800px){  
    section #bird2{ 
        transform: translateX(-16%) translateY(-16%);    
    }
    section #bird1{
        transform: translateX(10%) translateY(-14%);  
    } 
}
@media (max-width: 600px) {
    .nav-responsive{
        width: 100%;
    }
    #btn{
        font-size: 1em;
        padding: 6px 20px;
    }
        .container .card{
        width: 90%; 
    }  
}

@media (max-width: 480px){

    #header{
        padding: 13px 10px;
        &.sticky{
            padding: 8px 10px;
        } 
    } 
    #btn{
        bottom: 23vh;
        padding: 4px 15px;
        font-size: 1em;
    }
    section #text{ 
        font-size: 10vh;
    }
    .card{
        width: 300px;
        .dailyVerses{
            font-size: 1em;
        }
    }
    .carousel .glaider-contain{
        width: 100%;
    }
}   
