<div class="carousel">
<div class="glider-contain">
  <div class="glider">
            <div class="carousel__elemento">
                <img src="img/eventos/menu1.jpg" alt="">
                <p>obra social</p>
            </div>
            <div class="carousel__elemento">
                <img src="img/eventos/menu2.jpg" alt="">
                <p>obra social</p>
            </div>
                        <div class="carousel__elemento">
                <img src="img/eventos/menu3.jpg" alt="">
                <p>obra social</p>
            </div>
            <div class="carousel__elemento">
                <img src="img/eventos/menu1.jpg" alt="">
                <p>obra social</p>
            </div>
                        <div class="carousel__elemento">
                <img src="img/eventos/menu2.jpg" alt="">
                <p>obra social</p>
            </div>
  </div>
            <button aria-label="Previous" class="glider-prev">
                    <i class="fas fa-chevron-left"></i>
            </button>
            <button aria-label="Next" class="glider-next">
                    <i class="fas fa-chevron-right"></i>
            </button>

  <div role="tablist" class="dots"></div>
</div>
</div>