<div class="carousel">
<div class="glider-contain">
  <div class="glider">
            <div class="carousel__elemento">
                <img src="img/eventos/menu1.jpg" alt="" data-ministerio="alas de amor">
                <p>alas de amor</p>
            </div>
            <div class="carousel__elemento"> 
                <img src="img/eventos/menu2.jpg" alt="" data-ministerio="adoracion">
                <p>adoración</p>
            </div>
                        <div class="carousel__elemento">
                <img src="img/eventos/menu1.jpg" alt="" data-ministerio="ok">
                <p>ok</p>
            </div>
            <div class="carousel__elemento"> 
                <img src="img/eventos/menu2.jpg" alt="" data-ministerio="otro">
                <p>otro</p>
            </div>
            
  </div>
            <button aria-label="Previous" class="glider-prev" id="btn-left-carousel">
                    <i class="fas fa-chevron-left"></i>
            </button>
            <button aria-label="Next" class="glider-next" id="btn-right-carousel">
                    <i class="fas fa-chevron-right"></i>
            </button>

  <div role="tablist" class="dots"></div>
</div>
</div>