<div class="carousel">
<div class="glider-contain">
  <div class="glider ministerios">
            <div class="carousel__elemento">
                <img src="img/eventos/menu1.jpg" alt="" data-ministerio="alas de amor" class="slide-carousel-info">
                <p>alas de amor</p>
            </div>
            <div class="carousel__elemento"> 
                <img src="img/eventos/menu2.jpg" alt="" data-ministerio="adoracion" class="slide-carousel-info">
                <p>adoración</p>
            </div>
                        <div class="carousel__elemento">
                <img src="img/eventos/menu1.jpg" alt="" data-ministerio="ok" class="slide-carousel-info"> 
                <p>ok</p>
            </div>
            <div class="carousel__elemento"> 
                <img src="img/eventos/menu2.jpg" alt="" data-ministerio="otro" class="slide-carousel-info">
                <p>otro</p>
            </div>
            
  </div>
            <button aria-label="Previous" class="glider-prev" id="btn-left-carousel">
                    <i class="fas fa-chevron-left"></i>
            </button>
            <button aria-label="Next" class="glider-next" id="btn-right-carousel">
                    <i class="fas fa-chevron-right"></i>
            </button>

  <div role="tablist" class="dots"></div>
</div>
</div>
<div class="info-carousel sec">
    <div class="position-info">
        <h2 id="titulo-info-carousel">Obras</h2>
        <i class="fas fa-times" id="cerrar-info"></i>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius vitae saepe tempora eligendi mollitia? Et est laboriosam similique quaerat culpa placeat totam? Numquam corrupti ut voluptas. Quia iusto similique minima quidem! Dolore quaerat quas est quia reiciendis, ex culpa itaque et. Inventore iusto natus earum culpa voluptatum, consequuntur iste nisi!</p>
    <div class="carousel">
<div class="glider-contain">
  <div class="glider" id="carousel-info">
            <div class="carousel__elemento">
                <img src="img/eventos/menu1.jpg" alt="" data-ministerio="alas de amor">
                <p>alas de amor</p>
            </div>
            <div class="carousel__elemento"> 
                <img src="img/eventos/menu2.jpg" alt="" data-ministerio="adoracion">
                <p>adoración</p>
            </div>
                        <div class="carousel__elemento">
                <img src="img/eventos/menu1.jpg" alt="" data-ministerio="ok">
                <p>ok</p>
            </div>
            <div class="carousel__elemento"> 
                <img src="img/eventos/menu2.jpg" alt="" data-ministerio="otro">
                <p>otro</p>
            </div>
            
  </div>
            <button aria-label="Previous" class="glider-prev glider-prev-info" id="btn-left-carousel">
                    <i class="fas fa-chevron-left"></i>
            </button>
            <button aria-label="Next" class="glider-next glider-next-info" id="btn-right-carousel">
                    <i class="fas fa-chevron-right"></i>
            </button>

  <div role="tablist" class="dots dots-info"></div>
</div>
</div>


</div>