{{!-- <div class="carousel">
    <button id="btn-left"><i class="fas fa-angle-left"></i></button>
        <div class="obras-sociales" id="carousel">
            <div class="evento">
                <img src="img/eventos/menu1.jpg" alt="">
            </div>
            <div class="evento">
                <img src="img/eventos/menu2.jpg" alt="">
            </div>
            <div class="evento">
                <img src="img/eventos/menu3.jpg" alt="">
            </div>
            <div class="evento">
                <img src="img/eventos/menu1.jpg" alt="">
            </div>
            <div class="evento">
                <img src="img/eventos/menu2.jpg" alt="">
            </div>
            <div class="evento">
                <img src="img/eventos/menu3.jpg" alt="">
            </div>
            <div class="evento">
                <img src="img/eventos/menu1.jpg" alt="">
            </div>
        </div>
    <button id="btn-right"><i class="fas fa-angle-right"></i></button>
</div> --}}

{{!-- <div class="carousel">
    <div class="carousel__contenedor">
        <button aria-label="Anterior" class="carousel__anterior">
            <i class="fas fa-chevron-left"></i>
        </button>
        <div class="carousel__lista"> 
            <div class="carousel__elemento">
                <img src="img/eventos/menu1.jpg" alt="">
                <p>obra social</p>
            </div>
            <div class="carousel__elemento">
                <img src="img/eventos/menu1.jpg" alt="">
                <p>obra social</p>
            </div>
                        <div class="carousel__elemento">
                <img src="img/eventos/menu1.jpg" alt="">
                <p>obra social</p>
            </div>
                                    <div class="carousel__elemento">
                <img src="img/eventos/menu1.jpg" alt="">
                <p>obra social</p>
            </div>
                                    <div class="carousel__elemento">
                <img src="img/eventos/menu1.jpg" alt="">
                <p>obra social</p>
            </div>
                                    <div class="carousel__elemento">
                <img src="img/eventos/menu1.jpg" alt="">
                <p>obra social</p>
            </div>
                                    <div class="carousel__elemento">
                <img src="img/eventos/menu1.jpg" alt="">
                <p>obra social</p>
            </div>
        </div>
        <button aria-label="Siguiente" class="carousel__siguiente">
            <i class="fas fa-chevron-right"></i>
        </button>
    </div>
    <div role="tablist" class="carousel__indicadores"></div>
</div> --}}

<div class="carousel">
<div class="glider-contain">
  <div class="glider">
            <div class="carousel__elemento">
                <img src="img/eventos/menu1.jpg" alt="">
                <p>obra social</p>
            </div>
            <div class="carousel__elemento">
                <img src="img/eventos/menu1.jpg" alt="">
                <p>obra social</p>
            </div>
                        <div class="carousel__elemento">
                <img src="img/eventos/menu1.jpg" alt="">
                <p>obra social</p>
            </div>
            <div class="carousel__elemento">
                <img src="img/eventos/menu1.jpg" alt="">
                <p>obra social</p>
            </div>
                        <div class="carousel__elemento">
                <img src="img/eventos/menu1.jpg" alt="">
                <p>obra social</p>
            </div>
  </div>
            <button aria-label="Previous" class="glider-prev">
                    <i class="fas fa-chevron-left"></i>
            </button>
            <button aria-label="Next" class="glider-next">
                    <i class="fas fa-chevron-right"></i>
            </button>

  <div role="tablist" class="dots"></div>
</div>
</div>