<div class="motivo-oracion">
    <div class="formulario-oracion">
         <h3>¿ Quisieras que Oremos por ti ? </h3>
        <form action="">
            <input type="text" name="nombre" placeholder="Escribe tu Nombre" autocomplete="off" autofocus>
           <textarea name="motivo" cols="30" rows="5" placeholder="Motivo de Oración" style="resize: none;"></textarea>
            <button type="submit">Enviar</button> 
        </form>
    </div>
</div>