<div class="motivo-oracion">
{{#if user}}
     <div class="formulario-oracion admin">
         <h3> Oraciones Recientes</h3>
         {{#each oraciones}}
         <div class="oracion">
            <div class="nombre-icono">
                <p class="nombre">{{nombre}}</p>
                <button data-id="{{_id}}" id="eliminar-oracion"><i class="fas fa-trash"></i></button>
            </div>
            <div class="motivo">
                <p class="motivo">{{motivo}}</p>
            </div>
         </div>
         {{/each}}
        </div>
{{else}}
    <div class="formulario-oracion">
         <h3>¿ Quisieras que Oremos por ti ? </h3>
        <form action="/form/oracion" method="POST">
            <input type="text" name="nombre" placeholder="Escribe tu Nombre" autocomplete="off" autofocus="true">
           <textarea name="motivo" cols="30" rows="5" placeholder="Motivo de Oración" style="resize: none;"></textarea>
            <button type="submit">Enviar</button> 
        </form>
    </div>
{{/if}}

</div>

