    <div class="info oculto">
        <button id="slideCrearMinisterio" style="cursor: pointer;">Crear un nuevo Ministerio</button>
    </div>
   
    <div class="form-agregar-ministerio">
        <div class="form">
        <form action="" id="crearMinisterio">
            <input type="text" name="titulo" placeholder="Titulo Ministerio">
            <textarea name="info" cols="30" rows="5" placeholder="Sobre el ministerio" style="resize: none;"></textarea>
            <input type="file">
            <button type="submit" id="btnCrearMinisterio">Crear</button>
        </form>
        </div>
    </div>