
<header id="header">
    <a href="#" class="logo"><img src="/img/logo-ica.png" alt="ICA PENTECOSTES"></a>
    <ul class="navigation">
        <li><a href="/" class="activo">Inicio</a></li>
        <li><a href="/ministerios">Ministerios</a></li>
        <li><a href="/adoradores">Adoradores</a></li>
        <li><a href="/obras">Obras</a></li>
    </ul>
    <i class="fas fa-bars icono" id="bars"></i>

    <div class="nav-responsive"> 
        {{!-- <i class="fa fa-times icono" id="salir"></i> --}}
        <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/ministerios">Ministerios</a></li>
                <li><a href="/adoradores">Adoradores</a></li>
                <li><a href="/obras">Obras</a></li>
        </ul>
    </div>
    {{> form-oracion}}

</header>

