
<header id="header">
    <a href="#" class="logo">ICA PENTECOSTES</a>
    <ul class="navigation">
        <li><a href="" class="activo">Inicio</a></li>
        <li><a href="#1">Ministerios</a></li>
        <li><a href="">Adoradores</a></li>
        <li><a href="">Sobre Nosotros</a></li>
    </ul>
    <i class="fas fa-bars icono" id="bars"></i>

    <div class="nav-responsive"> 
        {{!-- <i class="fa fa-times icono" id="salir"></i> --}}
        <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Ministerios</a></li>
                <li><a href="">Adoradores</a></li>
                <li><a href="">Sobre Nosotros</a></li>
        </ul>
    </div>
</header>

<section>
    <h2 id="text"><span>tiempo para</span><br>Adoraración</h2>
    <img src="/img/bird1.png" id="bird1">
    <img src="/img/bird2.png" id="bird2">
    <img src="/img/forest.png" id="forest">
    <a href="" id="btn">explorar</a>
    <img src="/img/rocks.png" id="rocks">
</section>
<div class="agua">
    <img src="/img/water.png" id="water">
</div>
