<section>
    <h2 id="text"><span>tiempo para</span><br>Adoración</h2>
    <img src="/img/bird1.png" id="bird1">
    <img src="/img/bird2.png" id="bird2">
    <img src="/img/forest.png" id="forest">
    {{!-- <a href="" class="btn-comun">explorar</a> --}}
    <img src="/img/rocks.png" id="rocks">
</section>
<div class="agua">
    <img src="/img/water.png" id="water">
</div>
